dispaly: grid;
grid-template-coloumns: 50% 50%;
}

.conteiner__botao{
  background-color: var(--botao-azul);
  border-radius: 5px;
  padding: 1em;
  color: var(--branco-principal);
  display: block;
  text-decoration: nome;
}
